Options -Indexes

<Files "brevo.config.php">
  Require all denied
  Order allow,deny
  Deny from all
</Files>

<FilesMatch "^\.">
  Require all denied
  Order allow,deny
  Deny from all
</FilesMatch>
